<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="reset.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body class="admincontainer">

    <a class="admintopbar"></a>
    <div class="adminblackbar">
        <img src="user.png" class="adminpp">
        <p class="tulisanadmin">admin</p>
        <a class="indikatoronline"></a>
        <p class="tulisanonlineoffline">online</p>

        <div class="tulisandalamblackbar">
            <p class="tulisandashboard">Dashboard</p>
            <p class="tulisanuser">Users</p>
            <p class="tulisanorder">Orders</p>
        </div>
    </div>
    <img src="totaluser.png" class="boxtotaluser">
    <p class="angkauseradmin">0</p>
    <img src="totalorder.png" class="boxtotalorder">
    <p class="angkaorderadmin">0</p>
    <img src="kecamatan2.png" class="boxkecamatanadmin">
    <p class="angkakecamatanadmin">0</p>
    <img src="kelurahan.png" class="boxkelurahanadmin">
    <p class="angkakelurahanadmin">0</p>
</body>

</html>